    body{
        background-color: #C8B788;
    }
    h1{
        color: white;
        text-align: center;
        text-shadow: 5px 5px 15px rgba(0, 0, 0, 0.575);
    }
    section{
        background-color: white;
        width: 600px;
        text-align: center;
        padding: 1px;
        margin: auto;
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.301);
        border-radius: 10px;
    }
    div{
        padding: 5%;
    }
    p{
        color: white;
        text-align: center;
        font-style: italic;
    }
    
