@charset "UTF-8";

:root{
    --corV: #5AFF15;
    --corF: #C5283D;
    --mostarda: #F5B700;
    --roxoescuro: #20063B;
    --roxoclaro: #BC96E6;
    --azulverde: #00635D;
    --azulclaro: #08A4BD;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor1);
}

body{
    background-color: var(--roxoescuro);
    background-attachment: fixed;
}

h1{
    color: white;
    background-color: var(--roxoclaro);
    text-align: center;
    padding: 40px 0px;
    margin-bottom: 100px;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.342);
    border-radius: 0px 0px 50px 50px;
}

section{
    background-image: linear-gradient(to bottom, var(--azulclaro), var(--azulverde));
    width: 400px;
    height: 380px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #20063b67;
    padding: 20px;
}

#pergunta{
    text-align: center;
    font-size: 1.4em;
}

div > div.dentro{
    background-color: var(--roxoescuro);
    text-align: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    width: 250px;
    color: white;
    border-radius: 50px;
    border: 2px solid var(--roxoescuro);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.452);
    cursor: pointer;
}
div > div.dentro:hover{
    border: 2px solid var(--roxoclaro);
    transition: 0.7s;
}

div > div#resultado{
    display: none;
    font-size: 10em;
    text-align: center;
    margin-bottom: 80px;
}

div > div#recomecar{
    display: none;
    margin: auto;
    color: white;
    background-color: black;
    padding: 15px;
    width: 200px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
}

div > div#recomecar:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
    transition: 1s;
}

footer{
    margin-top: 20px;
    text-align: center;
}

footer a{
    text-decoration: none;
    color: white;
    margin-top: 20px;
}

footer a:hover{
    text-decoration: underline;
}
@media screen and (min-width: 769px){
    section{
        width: 700px;
    }
}